.loader{
    margin-top: 20px;
    height: 700px;
    width: 1080px;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-loader{
    height: 500px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inner-loader #anime-div{
    height: 10px;
    width: 10px;
    background-color:rgb(58, 58, 99);
    margin: 3px;
    border-radius: 5px; 
    

}

.inner-loader #anime-div1{
    height: 10px;
    width: 10px;
    background-color: pink;
    margin: 3px;
    border-radius: 10px;
}
.inner-loader #anime-div2{
        height: 10px;
        width: 10px;
        background-color: red;
        margin: 3px;
        border-radius: 5px;
}
.inner-loader p{
        font-family: 'poppins-thin';
        font-size: 30px;
        margin-bottom: 10px;
        
     
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Poppins-thin';
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');

}